/* COLORS - START */

$aqua-dark: #109BC6;
$aqua: #33AEDC;
$aqua-light: #48C0EB;
$charcoal-dark: #3C3B3D;
$charcoal: #474747;
$charcoal-light: #555555;
$silver-light: #9D9D9E;
$silver: #898B8C;
$silver-dark: #78797A;
$fog-light: #F5F7FA;
$fog: #E6E9ED;
$fog-dark: #DCE1E5;
$grapefruit-dark: #DC4250;
$grapefruit: #ED5565;
$grapefruit-light: #F2798B;
$grass-dark: #8BC34A;
$grass: #9FD661;
$grass-light: #B1E271;
$pewter-dark: #99A1AA;
$pewter: #AAB2BE;
$pewter-light: #CCD1D9;
$plum-dark: #6A4DA9;
$plum: #8065B9;
$plum-light: #917EC4;
$sunflower-dark: #F7BC31;
$sunflower: #FFCF47;
$sunflower-light: #FFDB80;

$default: $aqua;
$positive: $grass;
$negative: $grapefruit;
$warning: $sunflower;


/* COLORS -  END  */


$primary-color: $grass-light;
$secondary-color: $grass-dark;

/* Landfill Tracker - START */

$landfill-tracker-width: 180px;
$landfill-tracker-color-base: #6bc43c;
$landfill-tracker-color-fold: #4e8133;
$landfill-tracker-font-color: #ffffff;
$landfill-tracker-font-family: Arial;

/* Landfill Tracker -  END  */

@import "mixins";
@import "style";
