/**************************\
*                          *
*  Stuffmapper Stylesheet  *
*                          *
*                          *
*  Table of Contents:      *
*   1. Variables           *
*   2. Main Styling        *
*   3. Header              *
*   4. Tabs                *
*   5. Search Bar          *
*   6. Give Stuff          *
*   7. About Us            *
*		8. My Stuff            *
*		9. Watchlist					 *
*	 10. Settings            *
*  11. Privacy             *
*  12. Faq      					 *
*   X. Modal Windows       *
*       - Steps            *
*       - Sign In Content  *
*       - Sign Up Content  *
*   Y. Popups              *
*   Z. Landfill Tracker    *
*                          *
\**************************/
*:not(pre, .code){font-family: proxima-nova, helvetica, sans-serif;}

/* BUTTONS - START */

.sm-button {
	display: block;
	position: relative;
	border-radius: 4px;
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	transition: all 50ms;
	text-align: center;
}
.sm-button:hover {
	border-top-width: 0px;
	border-bottom-width: 4px;
}
.sm-button:active {
	border-top-width: 4px;
	border-bottom-width: 0px;
}
.sm-button-xl {
	width: 128px;
	height: 64px;
	line-height: 64px;
}
.sm-button-l {
	width: 96px;
	height: 48px;
	line-height: 48px;
}
.sm-button-m {
	width:64px;
	height:32px;
	line-height: 32px;
}
.sm-button-s {
	width: 60px;
	height: 24px;
	line-height: 24px;
}
.sm-button-default {
	background-color: #33AEDC;
	color: #F5F7FA;
}
.sm-button-positive {
	background-color: $grass;
}
.sm-button-negative {
	background-color: $grapefruit;
}
.sm-button-warning {
	background-color: $sunflower;
}
.sm-button-ghost {
	border: 2px solid $fog-dark;
	background-color: transparent;
	color: $charcoal-dark;
}
.sm-button:hover, .sm-button:active {
	color: #ffffff;
	border-left-width: 0px;
	border-right-width: 0px;
}
.sm-button:hover {
	border-top-width: 0px;
}
.sm-button:active {
	border-top-width: 4px;
	border-bottom-width: 0px;
}
.sm-button-default:hover {
	border-color: #109BC6;
	background-color: #33AEDC;
}
.sm-button-default:active {
	border-color: #48C0EB;
	background-color: #33AEDC;
}
.sm-button-positive:hover {
	border-color: #8BC34A;
	background-color: #9FD661;
}
.sm-button-positive:active {
	border-color: #B1E271;
	background-color: #9FD661;
}
.sm-button-negative:hover {
	border-color: #DC4250;
	background-color: #ED5565;
}
.sm-button-negative:active {
	border-color: #F2798B;
	background-color: #ED5565;
}
.sm-button-warning:hover {
	border-color: #F7BC31;
	background-color: #FFCF47;
}
.sm-button-warning:active {
	border-color: #FFDB80;
	background-color: #FFCF47;
}
.sm-button-xl.sm-button-ghost {
	width:124px;
	height:60px;
	line-height: 58px;
}
.sm-button-l.sm-button-ghost {
	width:92px;
	height:44px;
	line-height: 42px;
}
.sm-button-m.sm-button-ghost {
	width:60px;
	height:28px;
	line-height: 26px;
}
.sm-button-s.sm-button-ghost {
	width:56px;
	height:20px;
	line-height: 18px;
}
.sm-button-xl:hover {
	line-height: 65px;
}
.sm-button-l:hover {
	line-height: 49px;
}
.sm-button-m:hover {
	line-height: 33px;
}
.sm-button-s:hover {
	line-height: 25px;
}

/* BUTTONS -  END  */

/* FORM ELEMENTS - START */
.sm-text-input::-webkit-input-placeholder, .sm-text-area::-webkit-input-placeholder {
	color: $pewter;
}
.sm-text-input:-moz-placeholder, .sm-text-area:-moz-placeholder {
	color: $pewter;
	opacity:  1;
}
.sm-text-input::-moz-placeholder, .sm-text-area::-moz-placeholder {
	color: $pewter;
	opacity:  1;
}
.sm-text-input:-ms-input-placeholder, .sm-text-area::-moz-placeholder {
	color: $pewter;
}
.sm-text-input, .sm-text-area {
	border-radius: 3px;
	border: 1px solid $fog-dark;
	padding: 3px 6px;
	color: $charcoal-light;
}
.sm-text-input:focus, .sm-text-area:focus {
	border-radius: 3px;
	border: 1px solid $silver-light;
	padding: 3px 6px;
	color: $charcoal-light;
	outline: none;
}
.sm-text-input::selection, .sm-text-area::selection {
	background: $fog-dark;
}
.sm-text-input::-moz-selection, .sm-text-area::-moz-selection {
	background: $fog-dark;
}
.sm-text-input-xl {

}
.sm-text-input-l {

}
.sm-text-input-m {

}
.sm-text-input-s {

}
.sm-text-input-group {
	position: relative;
	display: block;
	border: 1px solid gray;
	border-radius: 3px;
}
.sm-text-input-group .sm-text-input-container .sm-text-input {
	border: none;
	width: 100%;
}
.sm-text-input-group-xl {
	width: calc(100% - 26px);
	height: 28px;
}
.sm-text-input-group-l {
	width: calc(100% - 26px);
	height: 28px;
}
.sm-text-input-group-m {
	width: calc(100% - 26px);
	height: 28px;
}
.sm-text-input-group-s {
	width: calc(100% - 26px);
	height: 28px;
}
.sm-text-input-group-xl .sm-text-input-container {width: calc(100% - 26px);}
.sm-text-input-group-l .sm-text-input-container {width: calc(100% - 26px);}
.sm-text-input-group-m .sm-text-input-container {width: calc(100% - 32px);}
.sm-text-input-group-s .sm-text-input-container {width: calc(100% - 26px);}
.sm-text-input-container {
	display: inline-block;
	float: left;
}
.sm-text-input-group-xl .sm-text-input-button {
	width: 26px;
}
.sm-text-input-group-l .sm-text-input-button {
	width: 26px;
}
.sm-text-input-group-m .sm-text-input-button {
	height: 26px;
	line-height: 26px;
	width: 32px;
}
.sm-text-input-group-s .sm-text-input-button {
	width: 26px;
}
.sm-text-input-button {
	display: inline-block;
	position: relative;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	color: $pewter-light;
	background-color: $fog-light;
	cursor: default;
}
.sm-text-input-button-border {
	position: absolute;
	top: 0px;
	left: -1px;
	width: 1px;
	height: 100%;
	background-color: $fog-dark;
}
.sm-text-input-button-icon {
	text-align: center;
	width: 100%;
}
.sm-text-input-button-active .sm-text-input-button-border {
	background-color: $aqua-light;
}
.sm-text-input-button-active {
	background-color: #33AEDC;
	color: #ffffff;
	cursor: pointer;
}


/* FORM ELEMENTS CUSTOM STUFF - START */
.sm-text-input-give-stuff {
	width: calc(100% - 20px);
	display: block;
	margin: 10px auto;
}
/* FORM ELEMENTS CUSTOM STUFF -  END  */
/* FORM ELEMENTS -  END  */

/* TYPOGRAPHY - START */
.sm-text-xl {
	font-size: 24px;
	font-family: proxima-nova, helvetica, sans-serif;
	line-height: 28px;
}
.sm-text-l {
	font-size: 20px;
	font-family: proxima-nova, helvetica, sans-serif;
	line-height: 24px;
}
.sm-text-m {
	font-size: 16px;
	font-family: proxima-nova, helvetica, sans-serif;
	line-height: 22px;
}
.sm-text-s {
	font-size: 12px;
	font-family: proxima-nova, helvetica, sans-serif;
	line-height: 16px;
}
/* TYPOGRAPHY -  END  */

/* CONTAINERS - START */

.sm-tab-container {
	position: absolute;
	display: block;
	top: 40px;
	left: 0px;
	height: calc(100% - 40px);
	width: 100%;
	z-index: 5;
	overflow: hidden;
	pointer-events: none;
	& > * {
		pointer-events: all;
	}
}

.sm-background-semi-opaque {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0.4;
	z-index: -1;
	top: 0px;
	left:0px;
	pointer-events: all;
	&.sm-hidden {
		pointer-events: none;
		opacity: 0.0001;
	}
}

.sm-background-dark {
	background-color: $charcoal;
}

/* CONTAINERS -  END  */

/* FILTER - START */

.filter-content-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: block;
	pointer-events: all;
	background-color: #ffffff;
	transform: translate3d(0px, 0%, 0px);
	&.sm-hidden {
		pointer-events: none;
		transform: translate3d(0px, -100%, 0px);
	}
}

/* FILTER -  END  */
