.ss-partial-container
	.ss-content
		h1.ss-page-title Buttons
		#button-sizes.row
			h3.ss-demo-title Button Sizes
			p.ss-demo-description Define a button size with .button--xs, .button--s, .button--m, .button--l or .button--xl. The default button size is .button--m.
			.ss-demo-container
				.ss-demo-container-upper
					.col-md-3
						center
							.sm-button.sm-button-xl.sm-positive.sm-button-default button
					.ss-demo-container-divider-container
						.ss-demo-container-divider
					.col-md-3
						center
							.sm-button.sm-button-l.sm-positive.sm-button-default button
					.ss-demo-container-divider-container
						.ss-demo-container-divider
					.col-md-3
						center
							.sm-button.sm-button-m.sm-positive.sm-button-default button
					.ss-demo-container-divider-container
						.ss-demo-container-divider
					.col-md-3
						center
							.sm-button.sm-button-s.sm-positive.sm-button-default button
				pre.ss-demo-container-lower.sm-code
					= '<div class="sm-button sm-button-xl sm-button-default">...</div>\n'
					= '<div class="sm-button sm-button-l sm-button-default">...</div>\n'
					= '<div class="sm-button sm-button-m sm-button-default">...</div>\n'
					= '<div class="sm-button sm-button-s sm-button-default">...</div>'
		#ghost-buttons.row
			h3.ss-demo-title Ghost Buttons
			p.ss-demo-description Ghost buttons should be used to signify optional, infrequent or subtle actions. The color options are specified with an additional class .bg--marvel--hover, .bg--orange--hover, .bg--negative--hover, etc.
			.ss-demo-container
				.ss-demo-container-upper
					.col-md-3
						center
							.sm-button.sm-button-l.sm-button-default.sm-button-ghost default
					.ss-demo-container-divider-container
						.ss-demo-container-divider
					.col-md-3
						center
							.sm-button.sm-button-l.sm-button-positive.sm-button-ghost positive
					.ss-demo-container-divider-container
						.ss-demo-container-divider
					.col-md-3
						center
							.sm-button.sm-button-l.sm-button-warning.sm-button-ghost warning
					.ss-demo-container-divider-container
						.ss-demo-container-divider
					.col-md-3
						center
							.sm-button.sm-button-l.sm-button-negative.sm-button-ghost negative
				pre.ss-demo-container-lower.sm-code
					= '<div class="sm-button sm-button-l">...</div>\n'
					= '<div class="sm-button sm-button-l">...</div>\n'
					= '<div class="sm-button sm-button-l">...</div>\n'
