.ss-partial-container
	.ss-content
		h1.ss-page-title Form Elements
		ss-demo-container(id="input-sizes" title="Input sizes" description="Different size inputs")
			ss-demo-container-upper
				.row
					.col-md-6
						.ss-center
							input.sm-text-input.sm-text-input-xl(placeholder="placeholder text")
					.ss-demo-container-divider-container
						.ss-demo-container-divider
					.col-md-6
						.ss-center
							input.sm-text-input.sm-text-input-l(placeholder="placeholder text")
					.ss-demo-container-divider-container
						.ss-demo-container-divider
				.row
					.col-md-6
						.ss-center
							input.sm-text-input.sm-text-input-m(placeholder="placeholder text")
					.ss-demo-container-divider-container
						.ss-demo-container-divider
					.col-md-6
						.ss-center
							input.sm-text-input.sm-text-input-s(placeholder="placeholder text")
			ss-demo-container-lower
				= '<div class="sm-button sm-button-xl sm-button-default">...</div>'
				br
				= '<div class="sm-button sm-button-l sm-button-default">...</div>'
				br
				= '<div class="sm-button sm-button-m sm-button-default">...</div>'
				br
				= '<div class="sm-button sm-button-s sm-button-default">...</div>'
		ss-demo-container(id="input-group-button" title="Input group with button" description="yup.")
			ss-demo-container-upper
				.col-md-12
					.ss-center
						sm-input-group-button(placeholder="placeholder text" width="200px" submit="testFunction()")
			ss-demo-container-lower
				= '<sm-input-group-button placeholder="placeholder text" width="200px" submit="testFunction()"></sm-input-group-button>'
		ss-demo-container(id="checkbox" title="Checkbox" description="yup again.")
			ss-demo-container-upper
				.col-md-12
					.ss-center
						sm-input-group-button(placeholder="placeholder text" width="200px" submit="testFunction()")
			ss-demo-container-lower
				= '<sm-input-group-button placeholder="placeholder text" width="200px" submit="testFunction()"></sm-input-group-button>'
