.ss-partial-container
	.ss-content
		h1 Typography
		#input-sizes.row
			h3.ss-demo-title Input sizes
			p.ss-demo-description Different size inputs
			.ss-demo-container
				.ss-demo-container-upper
					.row
						.col-md-12
							center
								.sm-text-xl Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
						.ss-demo-container-divider-container
							.ss-demo-container-divider
						.col-md-12
							center
								.sm-text-l Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
						.ss-demo-container-divider-container
							.ss-demo-container-divider
				.row
					.col-md-12
						center
							.sm-text-m Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
					.ss-demo-container-divider-container
						.ss-demo-container-divider
					.col-md-12
						center
							.sm-text-s Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
				pre.ss-demo-container-lower.sm-code
					= '<div class="sm-text-xxl">...</div>\n'
					= '<div class="sm-text-xl">...</div>\n'
					= '<div class="sm-text-l">...</div>\n'
					= '<div class="sm-text-m">...</div>\n'
					= '<div class="sm-text-s">...</div>'
